<div class="container footer_post">
  <p class="text-muted credit">
    <a href="//{{config.host}}">Home</a> - Copyleft Xavier Damman (<a href="http://twitter.com/xdamman">@xdamman</a>) - please <a href="http://twitter.com/intent/tweet?via=xdamman&url=http://xdamman.com" class="share_twitter" target="_new">share</a> / <a href="https://github.com/xdamman/website-content/blob/master/posts/{{post.slug}}.md" data-event-name="edit" data-event-context="footer" data-event-value="{{post.permalink}}">edit</a> / redistribute
    <span class="pull-right poweredby"><a href="http://github.com/xdamman/blogdown">Powered by BlogDown</a></span>
  </p>
</div>
