<div class="container footer_page">
  <p class="text-muted credit">
    <span class="link_to_home"><a href="//{{config.host}}">Home</a> -</span>
    <a href="/interviews">Talks and interviews</a>
    - <a href="/about">About</a>
    - <a href="https://linkedin.com/in/xavierdamman">LinkedIn</a>
    - <a href="https://twitter.com/xdamman">Twitter</a>
    - <a href="https://facebook.com/xdamman">Facebook</a>
    - <a href="https://github.com/xdamman">Github</a>
    - <a href="public/PGP-PublicKey-xdamman-FD430CDC.asc">Github</a>
  </p>
</div>
