<html>
  <head>
    <title>{{#if title}}{{title}} - {{/if}}Xavier Damman (@xdamman)</title>

    <link rel="icon" type="image/png" href="img/favicon.png" />

    {{#if env.development}}
      <link rel="stylesheet" href="css/bootstrap.css" />
      <link rel="stylesheet" href="css/main.css" />
      <link rel="stylesheet" href="css/main.large.css" />
      <link rel="stylesheet" href="css/main.small.css" />
      <link rel="stylesheet" href="css/prettify.css" />
      <link rel="stylesheet" href="lib/selection-sharer/dist/selection-sharer.css" />
    {{/if}}

    {{^env.development}}
      <link rel="stylesheet" href="css/compiled.min.css" />
    {{/env.development}}

    <link rel="alternate" type="application/rss+xml" title="Latest posts" href="rss" />

    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>

  <body class="{{template}}">
    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        {{{body}}}
      </div>

    </div>

    <div id="footer">
      {{>_footer_page}}
      {{>_footer_post}}
    </div>

    {{#if env.development}}
    <script src="lib/requirejs/require.js"></script>
    <script src="js/requirejs.conf.js"></script>
    <script src="js/main.js"></script>
    {{/if}}

    {{^env.development}}
    <script src="js/compiled.min.js"></script>
    {{/env.development}}

  </body>
</html>

