
<html>
  <head>
    <title>I don&#x27;t need a faster iPhone - Xavier Damman (@xdamman)</title>

    <link rel="icon" type="image/png" href="img/favicon.png" />

    
      <link rel="stylesheet" href="css/bootstrap.css" />
      <link rel="stylesheet" href="css/main.css" />
      <link rel="stylesheet" href="css/main.large.css" />
      <link rel="stylesheet" href="css/main.small.css" />
      <link rel="stylesheet" href="css/prettify.css" />
    

    

    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>

  <body class="">
    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="_post">
  <div class="post">
    <h1 class="title">I don't need a faster iPhone</h1>
    <div class="byline">
      <span class="twitter_username"><a href="http://twitter.com/@xdamman" data-event-name="twitter_profile" data-event-value="@xdamman" data-event-context="byline">@xdamman</a></span> | 
      <span class="timeago" data-date="Sun Dec 29 2013 21:45:42 GMT-0800 (PST)"></span>
    </div>
    <p class="lead">What made me switch from PC to Mac was not speed but productivity. I don't need a faster iPhone. I need an iPhone that gets the job done when I need it.</p>
    



<p>My first Apple laptop was a 12 inch MacBook G4. I loved it. Despite being quite heavy for its size, the form factor was brilliant. It was exactly the size of a European A4 sheet of paper. I could carry it with me everywhere and it gave me the power of Linux with the ease of use of MacOSX. I would turn it on and it would quickly wake up from sleep and be ready to execute my commands. It was the most productive laptop I've ever had by that time.</p>

<img src="http://cdn2.sbnation.com/products/large/5898/powerbook%20g4%2012%20inch.jpg" alt="Apple MacBook G4 12 inch" title="" />

<blockquote>
  <p>Focus on what makes your users productive</p>
</blockquote>

<p>Apple understood that what mattered the most was not how fast the CPU was but how productive you could be with the machine. Hence the importance of user experience in both hardware and software. Is the machine portable enough? How long do I have to wait for the machine to boot or wake up from sleep? Do I have enough battery? Can I quickly create a presentation and send it over email by PDF or present it? Can the software help me align the different texts and images of my presentation so that I can focus on the content? Etc. etc. For all those things, the Mac was far superior of any other PC despite being technically underpowered for the same price.</p>

<p>Fast forward 10 years, Apple seems to care more about raw power than what makes me more productive. The number one feature presented at the last Apple Keynote about the new iPhone 5s was a brand new shiny 64-bit processor. Who cares? </p>

<img src="http://media.idownloadblog.com/wp-content/uploads/2013/09/Apple-September-2013-event-iPhone-5s-64-bit-slide-002.jpg" alt="Apple A7 64-bit chip" title="" />

<p>Ask the person next to you if they know the speed of the processor in their phone, yet alone if it's 32 or 64 bit. </p>

<p><strong>What matters is how productive you are with your phone.</strong> Does it have enough battery when you need it? How long does it take to send a message to someone? To reply to someone? To add a new event in the agenda and invite people? To get to my emails? To find an old email with the details of a meeting or a party? How quickly can you shoot a great quality photo or video and share them with the people you care about? Those are the things that you use your phone for <em>(one could wonder why do we still call these devices "phones" btw.)</em> </p>

<p>Except the camera, I didn't see much improvement since the iPhone 3G on any of those things. Hopefully, a competitor will be smart enough to start focusing on those features instead of blindly following Apple in an unnecessary arms race for speed. 
<blockquote class="twitter-tweet"><a href="https://twitter.com/maxrudberg/status/412850800743186432">Tweet from @maxrudberg</a></blockquote><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></p>

<p>What made me switch from PC to Mac was not speed but productivity. I don't need a faster iPhone. I need an iPhone that gets the job done when I need it, even after a long day using demanding location aware apps like Google Maps, Evernote, Yelp, Foursquare, Strava, etc. 
<blockquote class="twitter-tweet"><a href="https://twitter.com/sferik/status/248340454842716160">Tweet from @sferik</a></blockquote><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<blockquote class="twitter-tweet"><a href="https://twitter.com/xdamman/status/377508490782056448">Tweet from @xdamman</a></blockquote><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<blockquote class="twitter-tweet"><a href="https://twitter.com/xdamman/status/385881389666955264">Tweet from @xdamman</a></blockquote><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></p>
  </div>
  <div class="about">
  <div class="media">
    <div class="pull-left">
      <img src="img/avatar.png" alt="Xavier Damman" class="media-object avatar" />
    </div>
    <div class="media-body">
      <h4 class="media-heading">About the author</h4>
      <p>I'm Xavier Damman and I'm the cofounder and former CEO of <a href="http://storify.com">Storify</a> (acquired by Livefyre in 2013). I'm now the general manager of Storify at <a href="http://livefyre.com">Livefyre</a>. I write about startups, politics and random things. I like <a href="http://github.com/xdamman">hacking</a> and <a href="/interviews">talking</a>.
You can follow me on Twitter <a href="http://twitter.com/xdamman">@xdamman</a>.</p>
    </div>
  </div>
</div>

</div>

      </div>

    <div id="footer">
      
      
        <div class="container">
  <p class="text-muted credit">Copyleft Xavier Damman (<a href="http://twitter.com/xdamman">@xdamman</a>) - please <a href="http://twitter.com/intent/tweet?via=xdamman&url=http://xdamman.com" class="share_twitter" target="_new">share</a> / <a href="https://github.com/xdamman/website-content/blob/master/posts/apple-focus-productivity.md" data-event-name="edit" data-event-context="footer" data-event-value="//localhost.xdamman.com/apple-focus-productivity">edit</a> / redistribute</p>
</div>

      
    </div>

    
    <script src="lib/requirejs/require.js"></script>
    <script src="js/requirejs.conf.js"></script>
    <script src="js/main.js"></script>
    

    

  </body>
</html>
