@media (min-height: 550px) and (min-width: 1000px) {
  body.page {
    background: url('../img/xavierdamman-homepage.jpg') no-repeat;
    background-size: contain;
    background-position: 0 100%;
    background-color: #DCDEEA;
    background-attachment: fixed;
    padding-left: 300px;
  }

  body.home {
    overflow: hidden;
  }

  body.home .lead {
    margin-top: 50px;
  }

  body.home .posts {
    max-height: 410px;
    overflow: hidden;
    position: relative;
  }

  body.home .posts_inner {
    max-height: 410px;
    overflow-y:scroll;
    position: relative;
  }

  body.home .posts .fadeout {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 100%);
    width: 100%;
    height: 30px;
    position: absolute;
    z-index:50;
    top: 380px;
  }

  body.page #footer {
    padding-left: 350px;
    background: none;
  }

  p, li {
    font-size: 18px;
  }

  p.lead {
    font-size: 20px;
  }

  .about {
    margin:30px 30px;
  }

  h1, h2, h3, h4, p {
    padding: 0 30px;
  }
  
  .post .byline {
    padding: 0 30px;
  }

}

